{% extends "base/base.html" %}

{% block 'content' %}
<main class="container">
    <div class="row mt-4">
        <!-- Left: Blog Content -->
        <div class="col-md-8">

            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'posts_by_category' blog.category.id %}">
                            {{ blog.category }}
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        {{ blog.title|truncatechars:30 }}
                    </li>
                </ol>
            </nav>

            {% if not blog %}
                <div class="alert alert-info text-center">
                    <h4>No Articles Found</h4>
                </div>
            {% else %}
                <article class="blog-post">
                    <h1 class="display-6 link-body-emphasis mb-2 ">{{ blog.title }}</h1>

                    <div class="d-flex-blox  align-items-center mb-2">
                        <p class="blog-post-meta m-0">
                            Posted on {{ blog.created_at|date }} by <a href="#" class="" >{{ blog.author|capfirst }}</a>
                        </p>
                        <a href="{% url 'posts_by_category' blog.category.id %}"><span class="badge bg-primary">{{ blog.category }}</span></a> 
                    </div>
                    
                    <div class="d-flex justify-content-center mb-4" style="height: 40vh;">
                        <img src="{{ blog.blog_image.url }}" alt="Blog image"
                            class="img-fluid rounded" style="width: 80%; height: 100%; object-fit: cover;">
                    </div>
                    
                    
                    
                    <div class="py-2 px-2 fs-4">
                        <p class="lead">{{ blog.short_description }}</p>
                    </div>
                    
                    <div class="py-2 px-2 blog-content">
                        <p>{{ blog.blog_body|linebreaks }}</p>
                    </div>
                    
                    <div class="mt-5 mb-4 text-center">
                        <h5>Share this article</h5>
                        <div class="d-flex justify-content-center gap-2">
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank" class="btn btn-outline-primary">Facebook</a>
                            <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ blog.title }}" target="_blank" class="btn btn-outline-warning">Twitter</a>
                            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ blog.title }}" target="_blank" class="btn btn-outline-secondary">LinkedIn</a>
                        </div>
                    </div>
                </article>
            {% endif %}
        </div>

        <!-- Right: Search Bar -->
        <div class="col-md-4 ">
            <div class="card shadow-sm h-auto p-4">
                <h4 class="fst-italic">Follow Me</h4>
                <ol class="list-unstyled">
                    <li><a href="https://github.com/Harsh-Krishnatre" target="_blank">GitHub</a></li>
                    <li><a href="https://www.instagram.com/harsh_absent/profilecard/?igsh=OGxnbm1tbGVxMTI5" target="_blank">Social</a></li>
                    <li><a href="https://www.linkedin.com/in/harsh-krishnatre-583449339/" target="_blank">Linkdin</a></li>
                </ol>
            </div>
        </div>
    </div>
</main>
{% endblock 'content' %}
