{% extends 'base/base.html'%}
{%block 'content'%}
    <main class="container">
        <h1 class="display-6">{{category.category_name}}</h1><hr>
        {% if not posts %}
            <h4>No Articles Found</h4>
        {% endif %}
        {% for post in posts%}
            <article class="blog-post">
                <a href="{% url 'blog' post.slug%}" class="link-dark"><h4 class="display-7 link-body-emphasis mb-1">{{post.title}}</h4></a>
                
                <p class="blog-post-meta">{{post.created_at|timesince}} By <a href="#">{{post.author|capfirst}}</a></p>
                <div class= "text-left py-2 px-2">
                    <p>{{post.short_description}}</p>
                </div>
            </article>
            <hr>
        {% endfor %}
    </main>
{%endblock 'content'%}
