{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block 'content' %}
<main class="container mt-5">
    <div class="row">
        {% comment %} left sidebar {% endcomment %}
        {% include "dashboard/component/leftsidebar.html" %}
        {% comment %} right sidebar {% endcomment %}
        <div class="col-md-8">
            <h2 class="text-primary fw-bold">Edit Post: <span class="text-dark">{{ post.title }}</span></h2>
            <hr>

            <form method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>

                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <a href="{% url 'show_posts' %}" class="btn btn-secondary">Cancel</a>
                </div>

            </form>
        </div>
    </div>
</main>
{% endblock 'content' %}